*.csv
*.npy
*.png
*.pyc
*.tar.gz
*.txt
*.zip
*pycache*
.vscode
backup_data/
images/
notebooks/
output/
outputs/
shared/temp_files/
wandb/
web-tool/compiled
web-tool/node_modules
web-tool/package-lock.json
