*.csv
*.npy
*.png
*.pyc
*.tar.gz
*.txt
*.vrt
*.zip
*pycache*
.vscode
_build/
_static/
_templates/
backup_data/
glaciers/
images/
notebooks/
output/
outputs/
shared/temp_files/
wandb/
web-tool/compiled
web-tool/node_modules
web-tool/package-lock.json
processed/
